<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>피드 - Mobble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>

    <!-- 글 리스트 전용 CSS -->
    <link rel="stylesheet" href="/css/board-list.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<!-- 헤더 -->
{{> layout/header}}

{{> layout/sidebar}}

<script src="/js/sidebar.js" defer></script>

<!-- 푸터 -->
{{> layout/footer}}

<script src="/js/search-clear.js" defer></script>
<script src="/js/footer.js" defer></script>
<main class="feed-container">
    {{#model}}
        <!-- 좌측 피드 -->
        <section class="feed-left">
            <h2>피드</h2>
            <h3>HOT TOPIC</h3>
            <div class="feed-sorting">
                {{#pageDTO}}
                <a href="/boards?order=CREATED_AT_DESC&page=1{{#keyword}}&keyword={{keyword}}{{/keyword}}{{#key}}&key={{key}}{{/key}}">최신순</a> |
                        <a href="/boards?order=VIEW_COUNT_DESC&page=1{{#keyword}}&keyword={{keyword}}{{/keyword}}{{#key}}&key={{key}}{{/key}}">조회수순</a> |
                        <a href="/boards?order=BOOKMARK_COUNT_DESC&page=1{{#keyword}}&keyword={{keyword}}{{/keyword}}{{#key}}&key={{key}}{{/key}}">북마크순</a>
                {{/pageDTO}}

            </div>

            <!-- 글 카드 1 -->
            {{#boardList}}
                <article class="post-card">
                    <a class="post-link" href="/boards/{{id}}">
                        <div class="thumb" aria-hidden="true">
                            {{#image}}<img src="{{image}}" alt="thumbnail"/>{{/image}}
                        </div>
                        <div class="post-body">
                            <div class="tags">#{{category}}</div>
                            <h4 class="title">{{title}}</h4>
                            <div class="tags">{{username}}</div>
                            <p class="excerpt">
                                {{content}}
                            </p>
                            <div class="meta">
                                <span>{{createAt}}</span>
                                <span><i class="fa-regular fa-eye"></i> {{views}}</span>
                                <span>
                                    {{#isBookmark}}
                                        <i class="fa-solid fa-bookmark"></i>
                                    {{/isBookmark}}
                                    {{^isBookmark}}
                                        <i class="fa-regular fa-bookmark"></i>
                                    {{/isBookmark}}
                                    {{bookmarkCount}}
                                </span>
                            </div>
                        </div>
                    </a>
                </article>
            {{/boardList}}
            <!--        &lt;!&ndash; 글 카드 2 &ndash;&gt;-->
            <!--        <article class="post-card">-->
            <!--            <a class="post-link" href="/boards/1">-->
            <!--                <div class="thumb" aria-hidden="true"></div>-->
            <!--                <div class="post-body">-->
            <!--                    <div class="tags">#태그 #태그 #태그</div>-->
            <!--                    <h4 class="title">제목2</h4>-->
            <!--                    <p class="excerpt">-->
            <!--                        Lorem ipsum dolor sit amet consectetur. Ut fermentum ut nunc-->
            <!--                        sed.-->
            <!--                    </p>-->
            <!--                    <div class="meta">-->
            <!--                        <span>2025.09.04</span>-->
            <!--                        <span>💬 14</span>-->
            <!--                        <span>👍 57</span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </a>-->
            <!--        </article>-->

            <!-- 페이징 -->
            <div class="pagination">
                {{#pageDTO}}
                    {{^isFirst}}
                        <a href="/boards{{queryString}}&page={{prev}}">&lt;prev</a>
                    {{/isFirst}}
                    {{^isLast}}
                        <a href="/boards{{queryString}}&page={{next}}">next&gt;</a>
                    {{/isLast}}
                {{/pageDTO}}
            </div>
        </section>

        <!-- 우측 인기글 -->

        <aside class="feed-right">
            <h3>인기글</h3>
            <ul class="popular-list">
                {{#popularList}}
                    <li class="popular-item">
                        <a class="popular-link" href="/boards/{{id}}">
                            <div class="thumb small" aria-hidden="true">
                                {{#image}}<img src="{{image}}" alt="thumbnail"/>{{/image}}
                            </div>
                            <div class="info">
                                <span class="author">{{username}}</span>
                                <h4 class="title">{{title}}</h4>
                                <p class="excerpt">
                                </p>
                                <div class="meta">
                                    <span>{{createAt}}</span>
                                    <span><i class="fa-regular fa-eye"></i> {{views}}</span>
                                    {{#isBookmark}}
                                        <i class="fa-solid fa-bookmark"></i>
                                    {{/isBookmark}}
                                    {{^isBookmark}}
                                        <i class="fa-regular fa-bookmark"></i>
                                    {{/isBookmark}}
                                    {{bookmarkCount}}
                                </div>
                            </div>
                        </a>
                    </li>
                {{/popularList}}
                <!--                    <li class="popular-item">-->
                <!--                        <a class="popular-link" href="/boards/1">-->
                <!--                            <div class="thumb small" aria-hidden="true"></div>-->
                <!--                            <div class="info">-->
                <!--                                <span class="author">cos</span>-->
                <!--                                <h4 class="title">제목2</h4>-->
                <!--                                <div class="meta">-->
                <!--                                    <span>2025.09.04</span><span>💬 12</span><span>👍 80</span>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </a>-->
                <!--                    </li>-->
            </ul>
        </aside>
    {{/model}}
</main>
</body>
</html>
